<html>
<header>
    <link href="style.css" rel="stylesheet" type="text/css">
</header>
<body>
    <h1>Draw Something</h1>
    <h2>A Rails API Backend with React Frontend</h2>
    <p>
        When you activate the tiles this is processed on Client side in the view. 
        Once you hit the button "find largest cluster" the tiles are sent via POST request to the backend Rails API controller. 
        The backend performs graph traversal to identify all clusters. The largest cluster is then returned to the frontend/client. Have a look at the console log for more information on the rendering update cycles.
    </p>
    <div id="TileGrid">
</body>
<%=javascript_pack_tag 'app'%>
</html>