<html>
<header>
<style>
.tile {
    background:white;
}
.tile.active {
    background:gray;
}

.tile.largest {
    background:red;
}


</style>

</header>
<body>
    <div id="TileGrid" style="height:75%; width:75%">
</body>
    <%=javascript_pack_tag 'app'%>
</html>